<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blitzcalc"
    android:versionCode="18"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name="com.blitzcalc.GameActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.blitzcalc.MainActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.blitzcalc.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.blitzcalc.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.blitzcalc.MainActivity" >
        </activity>
        <activity
            android:name="com.blitzcalc.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName="com.blitzcalc.MainActivity" >
        </activity>
        <activity
            android:name="com.blitzcalc.ApacheActivity"
            android:label="@string/title_activity_apache"
            android:parentActivityName="com.blitzcalc.AboutActivity" >
        </activity>
        <activity
            android:name="com.blitzcalc.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.blitzcalc.MainActivity" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>